/* From Uiverse.io by sekaiking */ 
/* button {
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  color: #2268f5;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 400;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #2268f5;
  box-shadow: 0 0 0 0 #2268f5;
}

button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 #2268f5;
};

button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 #2268f5;
}; */