#root {
  height: 85%;
}

html {
  height: 100%;
}

body {
  background-color: #F9F6EE;
  font-family:'Times New Roman', Times, serif;
  height: 100%;
}

main {
  display: flex;
  margin-top: 10px;
  display: flex;
  align-content: center;
  text-align: center; 
  justify-content: center;
  height: 100%;
  overflow-y: scroll;
}

.homepage-content {
  margin: 20px;
  align-content: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 850px;
  align-self: center;
  padding: 20px;
}

.homepage-content > .left-homepage {
  padding: 5px;
}

.homepage-content > .right-homepage {
  padding: 5px;

}

.homepage-image {
  height: 600px;
  width: 660px;
  border-radius: 8px; 

}

header {
  padding-bottom: 10px;
}

nav {
  border-bottom: 1px solid black;
}

nav > div {
  padding: 0 10px;
  display: inline-block;
}

footer {
  border-top: 1px solid black;
  padding: 20px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
}

.about-container {
  width: 60%;
}

.about-container > div {
  margin: 10px;
}


.about-image {
  width: 500px;
  float: left;
  margin: 0 0 1rem 1rem; 
  margin: 10px;
  border-radius: 8px; 
}

.lockerlist-container {
  height: inherit;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.locker-details > button {
  align-self: center;
}

.container-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 530px;
}

.container-list > li {
  width: 250px;
  margin: 5px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid;
  overflow:hidden;
  border-radius: 3px;
  text-align: center;
}


.container-item-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 530px;
}

.container-item-list > li {
  width: 150px;
  /* height: 100px; */
  margin: 5px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid;
  overflow: scroll;
  border-radius: 3px;
  text-align: center;
  
}